.idea/
bin/
out/
*.iml
test_of_tania.txt
тесты.docx
result
operon_regulation.jar
src/ru/operon_regulation/nsc/bionet/MGS/utilites/NamedCollection.java
src/ru/operon_regulation/nsc/bionet/MGS/utilites/synonyms/**
